.nav-div{
    display:flex;
    justify-content: space-between;
    background-color:blueviolet;
    backdrop-filter:blur(10px);
    position:fixed;
    top:0;
    width: 100%;
}

.nav-div ul{
    display:flex;
    gap:25px;
    list-style-type: none;
}
.nav-div button{
    border:none;
    background-color:transparent;
cursor:pointer;
}
.nav-div a{
    color:black;
}
.nav-div a:hover{
    color:blueviolet;
}
